h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 48px !important;
}

.infoImg {
	height: 81vh;
	width: 100%;
	object-fit: cover;
}

.star {
	padding-top: 3px;
	font-size: 28px;
	font-family: 'Bebas Neue', cursive;
}
.starWhite {
	color: white;
}

.address:hover {
	cursor: pointer;
	font-weight: 600;
}

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	color: rgb(255, 230, 0);
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: '\2605';
	position: absolute;
	cursor: pointer;
	color: rgb(255, 230, 0);
}

.ratingCard {
	background-color: white;
	border-color: #8a8b8b !important;
	border-radius: 50% !important;
}

.cardMessage {
	font-family: 'Bebas Neue', cursive;
	font-size: 28px;
}
