h1 {
	font-family: 'Bebas Neue', cursive;
	font-size: 48px !important;
}

.infoImg {
	height: 81vh;
	width: 100%;
	object-fit: cover;
}

.fa-star {
	padding-top: 3px;
	font-size: 28px !important;
}

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	color: rgb(255, 230, 0);
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: '\2605';
	position: absolute;
	cursor: pointer;
	color: rgb(255, 230, 0);
}

.star {
	padding-top: 3px;
	font-size: 28px;
	font-family: 'Bebas Neue', cursive;
}

.address:hover {
	cursor: pointer;
	font-weight: 600;
}
