.res-card,
.card-img,
.card-img-overlay {
	border: none !important;
	height: 55vh;
	object-fit: cover;
}

.cardRatingDiv {
	justify-content: flex-end;
	display: flex;
}

.card-title {
	font-size: 32px !important;
	text-shadow: 2px 2px 8px black;
	font-family: 'Bebas Neue', cursive;
}

.starYellow {
	padding-top: 3px;
	font-size: 28px !important;
	color: rgb(255, 230, 0);
}

.distance,
#ratingArrayLength {
	font-size: 22px;
}

.showWhenMobile {
	display: none;
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
	.res-card,
	.card-img,
	.card-img-overlay {
		height: 40vh;
	}
	.cardRatingDiv {
		position: absolute !important;
		bottom: 0.5rem !important;
		right: 0.5rem !important;
	}
	.res-card {
	}
}

@media (max-width: 767px) {
	.res-card,
	.card-img,
	.card-img-overlay {
		height: 30vh;
	}
	.showWhenMobile {
		display: block;
	}
	/* .cardRatingDiv {
		position: absolute !important;
		bottom: 0.5rem !important;
		right: 0rem !important;
	} */
}

@media (max-width: 575px) {
}

@media (max-width: 414px) {
}
