.res-card,
.card-img,
.card-img-overlay {
	border: none !important;
	height: 35vh;
	object-fit: cover;
}

.card-title {
	font-size: 28px !important;
	text-shadow: 2px 2px 8px black;
}

.fa-star {
	font-size: 28px !important;
}
