.res-card,
.card-img,
.card-img-overlay {
	border: none !important;
	height: 55vh;
	object-fit: cover;
}

.card-title {
	font-size: 32px !important;
	text-shadow: 2px 2px 8px black;
	font-family: 'Bebas Neue', cursive;
}

.starYellow {
	padding-top: 3px;
	font-size: 28px !important;
	color: rgb(255, 230, 0);
}

.distance {
	font-size: 22px;
}

#ratingArrayLength {
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	font-size: 22px;
}
